version: "3.9"
services:
  neo4j:
    image: neo4j:4.4.4-community
    ports:
      - 7474:7474
      - 7687:7687
    volumes:
      - ./conf:/conf
      - ./data:/data
      - ./import:/import
      - ./logs:/logs
      - ./plugins:/plugins
    environment:
      - NEO4JLABS_PLUGINS=["apoc"]
      - NEO4J_dbms_memory_pagecache_size=5G
      - NEO4J_dbms.memory.heap.initial_size=10G
      - NEO4J_dbms_memory_heap_max__size=10G